.snippet-item
  width: 80%
  margin-left: 10%
  transition: box-shadow 0.3s
  margin-bottom: 20px
  border-radius: 5px
  &:hover
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25)
  .header
    width: 100%
    height: 40px
    color: inherit
    font-size: 15px
    padding: 10px
    display: flex
    align-items: center
    justify-content: space-between
    .info
      display: flex
      align-items: center
      width: 50%
      text-overflow: ellipsis
      .lang-icon
        height: 20px
      input[type='text']
        width: 100%
        height: 30px
        border: none
        border-radius: 5px
        outline: none
        padding: 5px
        display: inline-block
    .tools
      height: 100%
      width: 50%
      display: flex
      align-items: center
      justify-content: flex-end
      select
        width: 150px
        height: 30px
        border: none
        border-radius: 5px
        outline: none
        display: inline-block
        padding-left: 5px
      div[class*='-btn']
        margin-left: 25px
        cursor: pointer
  .tag-list
    height: 30px
    width: 100%
    display: flex
    align-items: center
    padding: 0 10px
    font-style: italic
    margin-bottom: 0
    .icon
      margin-right: 10px
      font-size: 13px
    input[type='text']
      width: 100%
      border: none
      outline: none
      background: transparent
      font-size: 15px
      border-radius: 5px
      padding: 2px 5px
  .code
    min-height: calc(100% - 110px)
    max-height: 300px
  .footer
    width: 100%
    height: 40px
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 15px
    padding: 10px
    .createAt
      margin-right: 30px