.modal-content.setting
  display: flex
  height: calc(100vh - 300px)
.tab-list
  width: 200px
  display: inline-block
  li
    width: 100%
    height: 40px
    font-size: 20px
    padding: 10px
    border-radius: 5px
    cursor: pointer
    margin-bottom: 5px
    .tab
      width: 100%
      height: 100%
      display: flex
      align-items: center
    &.active
      background: rgba(0, 0, 0, 0.5)
.tab-content
  display: inline-block
  width: calc(100% - 200px)
  padding: 10px
  padding-left: 30px
  height: 100%
  .about-tab
    display: flex
    flex-direction: column
    .content
      width: 100%
      flex: 1
      overflow-y: scroll
  .tab-title
    margin-bottom: 30px
  .middle-content
    width: 100%
    height: calc(100% - 110px)
    overflow-y: scroll
    .input-group
      label
        width: 150px!important
      input[type='text'], input[type='number']
        width: 300px!important
      select
        width: 300px!important
      .theme-preview
        width: 300px
        height: 200px
        margin-top: 20px
        margin-left: 150px
    .form-group-inline
      display: inline-flex
      input
        width: 200px!important
        margin-right: 5px
  .bottom-tool
    height: 50px
    display: flex
    align-items: center
    justify-content: flex-end
    .message
      margin-right: 10px
      &.success
        color: #A3CB38
      &.hide
        display: none
  div[class*='-tab']
    height: 100%
  .inline
    display: flex
    align-items: center