.tag-list
  width: 100%
  max-height: 30%
  overflow-y: scroll
  padding-left: 20px
  margin-bottom: 30px
  font-family: 'Lato'
  .tag-list-label
    font-size: 15px
    margin-bottom: 10px
    font-weight: bold
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    .badge
      padding: 5px 10px
      background: rgba(0, 0, 0, 0.26)
      display: inline
      float: right
      font-size: 15px
      border-radius: 5px
  .tags
    font-size: 18px
    li
      height: 30px
      width: 100%
      cursor: pointer
      margin-bottom: 10px
      .badge
        padding: 5px 10px
        background: rgba(0, 0, 0, 0.26)
        display: inline
        float: right
        font-size: 15px
        border-radius: 5px
      .tag-name
        display: inline