@font-face {
  font-family: Fira Code;
  src: url("../../resources/fonts/firacode/FiraCode-Regular.ttf");
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Fira Code;
  src: url("../../resources/fonts/firacode/FiraCode-Bold.ttf");
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Fira Code;
  src: url("../../resources/fonts/firacode/FiraCode-Light.ttf");
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: Fira Code;
  src: url("../../resources/fonts/firacode/FiraCode-Medium.ttf");
  font-weight: 500;
  text-rendering: optimizeLegibility;
}
